*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(223, 235, 241);
}

.flexContainer{
  margin: 100px auto;
  width: 700px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
}

.mainText{
  margin: 20px auto 0px auto;
  font: bold 30px Poppins, sans-serif;
}

hr{
  size: 1px;
  opacity: 0.5;
  margin: 15px 0 10px 0;
}

.products{
  margin: 20px 25px;
  display: flex;
  flex-direction: row;
}

.imgWrapper{
  overflow: hidden;
  border: 1px solid rgba(100, 100, 100, 0.5);
}

.imgWrapper img{
  width: 140px;
  margin: -20px 5px;
}

.productDescription{
  margin: 15px 25px;
}

.productDescription *{
  margin: 0;
}

.productName{
  font: bold 22px Poppins, sans-serif;
  margin-bottom: 5px;
}

.productPrice{
  font: normal 16px Poppins, sans-serif;
  color: rgba(100, 100, 100, 0.6);
}

.productSellingPrice{
  font: bold 18px Poppins, sans-serif;
  color: black;
}

.result{
  display: flex;
  justify-content: space-between;
  margin: 20px 30px;
  font: bold 15px Poppins, sans-serif;
}

.freeShipping{
  margin: 10px auto;
  padding: 20px 20px;
  border-radius: 40px;

  background-color: rgb(171, 255, 171);
  color: rgb(6, 126, 6, 0.8);
  font: normal 18px Poppins, sans-serif;
}

.link{
  margin: 30px auto;
}

.button{
  width: 630px;
  height: 80px;
  border-radius: 10px;
  
  border: none;
  background-color: rgb(61, 143, 251);
  color: white;
  font: bold 30px Poppins, sans-serif;

  cursor: pointer;
  transition: 0.2s;
}

.button:hover{
  background-color:rgb(53, 124, 218);
}