body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(223, 235, 241);
}

.flexContainer{
  margin: 100px auto;
  width: 700px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
}

.title{
  margin: 20px auto;
  font: bold 30px Poppins, sans-serif;
}

.products{
  margin: 20px 20px;
  display: flex;
  flex-direction: row;
}

.imgWrapper{
  overflow: hidden;
  border: 1px solid rgb(100, 100, 100, 0.5);
}

.imgWrapper img{
  width: 140px;
  margin: -20px 5px;
}